body {
    max-width: 100%;
    background: url("../images/architecture.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y
  }

.container {
    max-width: 960px;
    margin-top: 20px;
}
.nav-wrapper {
    background-color: rgb(0, 0, 0);
    position: fixed;
}
.nav-wrapper .brand-logo{

}
.video-container {
    height: 50vh;
    position: relative;
    overflow: hidden;
}
h1 {
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 500px;
    color: white;
    padding: 0;
    line-height: 1;
    font-family: sans-serif;
    font-size: 5vw;
    text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.493);
}
.foodie {
    color: white;
    font-size: 24px;
    text-shadow: 10px 10px 30px rgba(0, 0, 0, 0.493);
}
  .callout {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    position: relative;
    z-index: 10;
  }
  
video {
    object-fit: cover; 
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0;
}
#map {
    width:100%;
    height:400px;
    box-shadow: 8px 16px 10px rgba(0, 0, 0, 0.527);
    border-radius: 20px;
}
#searchbar-wrapper {
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 5px;
}
.tabs {
    box-shadow: 8px 16px 10px rgba(0, 0, 0, 0.527);
}
#card-wrapper {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    position: relative;
    width: 100%;
    height: auto;
    margin: 45px auto;
    padding: 15px 50px;
    background-color: whitesmoke;
    border-radius: 8px;
}

.card-slider {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: whitesmoke;
    overflow: auto;
}

 main {
    flex: 1 0 auto;
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
  
 }

.btn-small {
    display: inline-block;
}
.favorites {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    padding: 20px;
    height: 200px;
    width: 1000px;
    background-color: #0099cc;
    border-radius: 4px;
}

#interested {
    font-size: 20pt;
    color: white;
}
.cds {
    font-size: 14pt;
    color: white;
    font-family: 'Calibri';
    border-radius: 4px;
}
#placeName {
    font-size: 16pt;
}
#text {
    text-shadow: 2px 2px black;
    color: white;
    font-size: 20pt;
}
#styled {
    font-size: 12pt;
}
#buttonTxt {
    text-decoration: none;
    color: white;
}